[submodule "GodotBase/Scripts/CSharpGame"]
	path = GodotBase/Scripts/CSharpGame
	url = https://github.com/kalkatos/csharpgame.git
[submodule "GodotBase/Scripts/GodotGame"]
	path = GodotBase/Scripts/GodotGame
	url = https://github.com/kalkatos/godotgame.git
