[submodule "GodotBase/addons/genki-analytics"]
	path = src/addons/genki-analytics
	url = https://github.com/kalkatos/genki-analytics.git
[submodule "GodotBase/addons/genki-flying-text"]
	path = src/addons/genki-flying-text
	url = https://github.com/kalkatos/genki-flying-text.git
[submodule "GodotBase/Modules"]
	path = src/Modules
	url = https://github.com/kalkatos/gdmodules.git
[submodule ".agents"]
	path = .agents
	url = https://github.com/kalkatos/dian.git
