[submodule "GodotBase/addons/genki-analytics"]
	path = GodotBase/addons/genki-analytics
	url = https://github.com/kalkatos/genki-analytics.git
[submodule "GodotBase/addons/genki-flying-text"]
	path = GodotBase/addons/genki-flying-text
	url = https://github.com/kalkatos/genki-flying-text.git
